<div class="side-bar-header">
  <div class="app-name">
    MY カルテ
  </div>
  <div class="user-nav">
    <span><%= current_user.name %>
      <ul class="user__info">
        <li>
          <%= link_to "アカウント編集", edit_user_path(current_user)  %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </span>
  </div>
</div>

<div class="subjects">
  <div class="create-note">
    <%= link_to "ノート作成", new_medical_path %>
  </div>

  <div class="notes">
    <% current_user.medicals.each do |medical| %>
      <div class="note">
        <div class="subject-name">
          <a href="#"><%= medical.subject %></a>
        </div>
      </div>
    <% end %>
    
  </div>
</div>